// Theme's SCSS
.button-row {
  display: flex;
  flex-direction: row;
}

.discard-button:hover {
  color: var(--danger) !important;
}

.inline-editor,
.inline-editor > #control-content > .form-kit__container-content {
  width: stretch;
}
